---
const {
  post: { title, description, content, created_at },
} = Astro.props;
---

<article
  id="article"
  class="flex max-w-sm flex-col gap-2 rounded bg-[#1F2937] px-5 py-6 text-white"
  style="/* Contenedor del artículo con estilos flexibles, ancho máximo, separación entre elementos y fondo oscuro */"
>
  <img
    src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    class="rounded"
    style="/* Imagen del artículo con esquinas redondeadas */"
  />

  <h2 class="text-2xl font-bold">{title}</h2>
  <!-- Título del artículo con tamaño de texto grande y negrita -->

  <p>{description}</p>
  <!-- Descripción del artículo -->

  <p class="text-zinc-300">
    <!-- Párrafo de texto con color personalizado  que se vean 100 palabras para el post se tamaño normal-->
    {content.slice(0, 100) + "..."}
  </p>
  <p class="text-zinc-300">
    <!-- Fecha de creación del artículo con color personalizado -->
    {new Date(created_at).toLocaleDateString()} - 16 min read
  </p>
</article>
